html {
  height: 100%;
}
body{
  height: 100%;
  width: 100%;
  background-color: white;
  margin:0px;
}
a {
  text-decoration: none
}
a:link {
  color: white;
}
a:visited {
  color: white;
}
div#top{
  background-color: #232121;
  height:30px;
  margin: auto;
  font-size:36px;
  padding:20px 0px 0px 20px;
  fill: gray;
  position:relative;
  clear: left;
  vertical-align: top;
}
div#top > div{
  height: 100%;
  color: white;
  width: 20%;
  display: inline-block;
}

div#middle{
  background-color: white;
  min-width:700px;
  position:relative;
}
div#middle > div{
    background-color: white;
    width:25%;
    display:block;
    margin:auto;
    height: 100%;
    vertical-align: middle;
    position:relative;
    padding-top: 100px;
    padding-bottom:100px;
}
div#middle > div > div > img{
  background-color: DimGray;
  width:100%;
  position:relative;
}
div#bottom{
  background-color: white;
  clear:left;
  height:200px;
  position:relative;
  width: 100%;
  display: table;
}

div#footer{
  background-color: black;
  clear:left;
  color: white;
  text-align: center;
  height:50px;
  position:relative;
  width: 100%;
  display: table;
}

div#lhs {
  width: 50%;
  min-width:350px;
  display: table-cell;
  position: relative;
}
div#rhs {
  width: 50%;
  min-width:350px;
  display: table-cell;
}

div#box {
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  background-color: white;
  text-align: center;
  float: center;
  width: 50%;
  margin: auto;
  margin-top: 10%;
  height: 45%;
  background-color: orange;
  font-size: 30px;
}

div#verticalCenterText {
  margin: 0;
  position: relative;
  transform: translate(-0%, 100%);
  text-align: center;
  vertical-align: middle;
}

a.fill-div {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  display: inline-block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.team_person_div{
  max-width: 25%;
  min-width: 20%;
  float: left;
  margin: 20px;
  padding: 20px;
}

.team_photo{
  text-align: center;
  height: 200px;
  width: 200px;
}

.team_description{
  text-align: center;
}

.bg {
  /* The image used */
  background-color: DimGray;
  background-image: url("img/pattern.jpg");

  /* Full height */
  height: 60%;
  width: 100%;
  min-width:700px;

  top:0; /* Add a top and bottom position so the element */
  bottombottom:0; /* stretches to the height of the parent */
  left:0;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div#textBox {
  background-color: rgb(56, 49, 39,  0.9);
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  vertical-align: bottom;
}



div.download_button_div {
  height: 30px;
  width: 300px;
  text-transform: uppercase;
}

img.download_image {
  width: 15px;
  height: 15px;
}

div.download_button_div > .download_button {
  background-color: white;
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  color: black;
  border: 2px solid #4CAF50;
}

div.download_button_div > .download_button:hover {
  background-color: #4CAF50;
  color: white;
}
