<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="/style.css">
	<link rel="icon" href="img/pattern.jpg">
	<meta charset="utf-8">
	<title>Upload Finish</title>
</head>

<body>
		<div id="top">
			<div style="transform: translate(-0%, -70%);"><a href="index.html" class="fill-div">Home</a></div>
			<div style="transform: translate(-0%, -70%);"><a href="/upload" class="fill-div">Pipeline</a></div>
			<div style="transform: translate(-0%, -70%);"><a href="jbrowse.html" class="fill-div">JBrowse</a></div>
			<div style="transform: translate(-0%, -70%);"><a href="aboutus.html" class="fill-div">About Us</a></div>
		</div>


		<!-- <div id="middle"> -->
			<!-- <h2 style="color: orange">About</h2> -->
			<!-- <p style="font: Arial">LASSIE stands for Listeria ASSemblIEs comparison. The goal of LASSIE is strain identification of Listeria isolates and
			the identification of their antibiotic resistance and virulence factors. Click 'Start Pipeline' to begin!</p> -->
		<!-- </div> -->
	<div id="bottom">
    <p>Thanks for submitting your job. You will receive an email to
        <code>{{ params['email'] }}</code> after the job is finished.</p>
    <p>Your job ID is <code>{{ RES_ID }}</code>.</p>

    <div style="display: none">
        <h3>Testing (remove it later)</h4>
            <p>res_dir is <pre>{{ params['RES_DIR'] }}</pre></p>
            <p>INPUT_forward  is {{ params['INPUT_forward']  }}</p>
            <p>INPUT_reverse  is {{ params['INPUT_reverse']  }}</p>
            <p>INPUT_unpaired is {{ params['INPUT_unpaired'] }}</p>
            <p>INPUT_kmer is {{ params['kmer'] }}</p>

            <h4>Submitted form data</h4>
            <table>
                <tr>
                    {% for key in form.keys() %}
                    <th>{{ key }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for key in form.keys() %}
                    <td>{{ form[key] }}</td>
                    {% endfor %}
                </tr>
            </table>
    </div>
	</div>

	<div id="footer">
		<p>© 2019 Team 3 Predictive Webserver Group </a>
	</div>

</body>
</html>
